
$black            :     #09090B ;
$dark-50          :     #18181B ;
$dark-100         :     #27272A ;
$dark-200         :     #3F3F46 ;
$dark-300         :     #52525B ;
$dark-400         :     #71717A ;
$dark-500         :     #A1A1AA ;
$dark-600         :     #D4D4D8 ;
$dark-700         :     #E4E4E7 ;
$dark-800         :     #F4F4F5 ;


$white            :     #F4F4F5 ; 
$light-50         :     #E4E4E7 ;
$light-100        :     #D4D4D8 ; 
$light-200        :     #A1A1AA ; 
$light-300        :     #71717A ; 
$light-400        :     #52525B ; 
$light-500        :     #3F3F46 ; 
$light-600        :     #27272A ;
$light-700        :     #18181B ; 
$light-800        :     #09090B ; 
