@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100..900&family=Plus+Jakarta+Sans:wght@100..900&display=swap');

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;

  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif  ; 
  --font-inter-tight: 'Inter Tight' , sans-serif ; 

  --background: #F4F4F5;
  --foreground: #09090B;

  --card: #F4F4F5;
  --card-foreground: #09090B;

  --popover: #F4F4F5;
  --popover-foreground: #09090B;

  --primary: #27272A; /* light-600 */
  --primary-foreground: #F4F4F5; /* white */

  --secondary: #E4E4E7; /* light-50 */
  --secondary-foreground: #09090B;

  --muted: #E4E4E7;
  --muted-foreground: #52525B;

  --accent: #E4E4E7;
  --accent-foreground: #09090B;

  --destructive: #EF4444;

  --border: #D4D4D8; /* light-100 */
  --input: #D4D4D8; /* light-100 */
  --ring: #71717A; /* light-300 */

  --chart-1: #7C3AED;
  --chart-2: #0EA5E9;
  --chart-3: #6366F1;
  --chart-4: #10B981;
  --chart-5: #F59E0B;

  --sidebar: #F4F4F5;
  --sidebar-foreground: #09090B;
  --sidebar-primary: #27272A;
  --sidebar-primary-foreground: #F4F4F5;
  --sidebar-accent: #E4E4E7;
  --sidebar-accent-foreground: #09090B;
  --sidebar-border: #D4D4D8;
  --sidebar-ring: #71717A;
}

.dark {

  --stroke : #27272A ; 

  --background: #09090B;
  --foreground: #F4F4F5;

  --card: black;
  --card-foreground: #F4F4F5;

  --popover: #18181B;
  --popover-foreground: #F4F4F5;

  --primary: #F4F4F5;
  --primary-foreground: #09090B;

  --secondary: #27272A;
  --secondary-foreground: #F4F4F5;

  --muted: #27272A;
  --muted-foreground: #A1A1AA;

  --accent: #27272A;
  --accent-foreground: #F4F4F5;

  --destructive: #DC2626;

  --border: #18181B;
  --input: #27272A;
  --ring: #A1A1AA;

  --chart-1: #8B5CF6;
  --chart-2: #22D3EE;
  --chart-3: #818CF8;
  --chart-4: #34D399;
  --chart-5: #FBBF24;

  --sidebar: #18181B;
  --sidebar-foreground: #F4F4F5;
  --sidebar-primary: #8B5CF6;
  --sidebar-primary-foreground: #F4F4F5;
  --sidebar-accent: #27272A;
  --sidebar-accent-foreground: #F4F4F5;
  --sidebar-border: #18181B;
  --sidebar-ring: #A1A1AA;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-plus-jakarta-sans) ; 
  }
}
